body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.header {
  font-size: 24px;
}

.to-do-app {
  text-align: left;
}

.to-dos {
  padding-left: 35%;
}

.to-do {
  padding-left: 10px;
  font: 19px "Gill Sans", Futura, sans-serif;
  margin: 4px;  
}

.add-to-do {
  background-color: #4CAF50;
  border: none;
  color: rgb(146, 189, 253);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.delete-to-do { 
  background-color: #d74242;
  border: none;
  color: rgb(146, 189, 253);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
